{{> head }}

{{> navbar }}
    
    <div class="row">
        <div class="col-3">
            <h1>Sobre nosotros</h1>
            <p>Esto solo es práctica</p>
        </div>
        <div class="col-9">
            <img src="../assets/img/super-mario.jpg" class="img-thumbnail"/>
        </div>
    </div>
{{> footer}}